{% extends "base.html" %}

{% block stylesheets %}{% endblock %}

{% block content %}
  <div class="container py-5 mb-5">
    <h1 class="mb-5 text-center">注册
      {{ Configs.ctf_name }} 账号
      <span class="vim-caret">͏͏&nbsp;&nbsp;</span></h1>
    <div class="row py-4">
      <div class="col-md-8 order-md-2">
        {% include "components/errors.html" %}
        {% with form = Forms
          .auth
          .RegistrationForm() %}
        {% from "core/macros/forms.html" import render_extra_fields %}
        <form method="post" accept-charset="utf-8" autocomplete="off" role="form">
          <div class="mb-3">
            {{ form.name.label }}
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">A</span>
              </div>
              {{ form.name(class="form-control", value=name, placeholder="输入你的用户名") }}
              <div class="invalid-feedback" style="width: 100%;">
                需要输入你的用户名！
              </div>
            </div>
          </div>

          <div class="mb-3">
            {{ form.email.label }}
            <div class="input-group-prepend">
              <span class="input-group-text">A</span>
            </div>
            {{ form.email(class="form-control", value=email, placeholder="you@example.com") }}
            <div class="invalid-feedback">
              请输入你的邮箱地址
            </div>
          </div>

          <div class="mb-3">
            {{ form.password.label }}
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">#</span>
              </div>
              {{ form.password(class="form-control", value=password, placeholder="记得回头看看有没有人 ;)") }}
              <div class="invalid-feedback">
                请输入有效的密码
              </div>
            </div>
          </div>
          <hr class="mb-4">
          {{ form.nonce() }}
          {{ render_extra_fields(form.extra) }}
          {{ form.submit(class="btn btn-outline-success btn-shadow btn-lg btn-block") }}
        </form>
        {% endwith %}
        {% if Configs.tos_or_privacy %}
          <hr class="mb-4">
          <div class="custom-control">
            <div class="col-md-12 text-center">
						<small class="text-muted text-center">
							注册即表示您同意
							<a href="{{ Configs.privacy_link }}" rel="noopener" target="_blank">隐私政策</a>
							和 <a href="{{ Configs.tos_link }}" rel="noopener" target="_blank">服务条款</a>
						</small>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-md-2 order-md-1"></div>
      <div class="col-md-2 order-md-3"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}{% endblock %}
